<html>
 <head>
 
 </head>
</html>
<body>
  <div class="homeContainer">
 <h1><center>Gastro Lover</center></h1>
 <h2>Indrazneste sa devii un artist, creeaza cele mai interesante preparate alaturi de noi!</h2>
   <table  bgcolor="#FEF9E7" class="table table-condensed pull:center">
            <thead>
                <th><h3>Dacă și pentru tine arta culinară reprezintă </h3></th>
                <th><h3>Atunci</h3></th>
            </thead>
            <tr> 
               
                <td style="margin-right:5"><h4><ul><li>Pasiune</li><li>Mister</li></ul></h4></td>
                <td style="padding:25"><h4><ul><li>Descopera cele mai noi retete si cele mai delicioase ingrediente</li><li>Introdu retetele si ingredientele tale preferate</li></ul></h4></td>
            </tr>
        </table>
</div>

</body>
